@charset "UTF-8";
/* CSS Document */


.noFloatStyle {
	float: none;
}

.homePageStyle {
	padding: 20px;	
}

.howToImageStyle {
	border: 3px solid #666;
	width: 300px;
}

.comiciFrameStyle {
    padding: 0;
    height: 100%;
    width: 100%;
/*    height: 0;
    width: 0;
    visibility: hidden; 
    overflow: scroll; */
}

.thumbnailStyle {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigatorTextStyle {
	text-align: right;
	font-size: 14px;
	padding: 5px;
	z-index: 4;
	position: absolute;
	top: 5px;
	right: 5px;
	color: #666;
}

.pinUpImageStyle {
	min-width:100%;
	background-image:url('../images/pinup1.png');
	background-repeat:no-repeat;
	background-size: contain;
	background-position:center;	
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.spinnerBlock {
	background-color: #000;
	height: 30px;
	width: 30px;
	position: absolute;
	z-index: 3;
	padding: 0px;
	border: 0px;
	margin: 0px;
}